
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.documento {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button.button {
    height: 30px;
    width: 50px
}

canvas#quadro {
    outline-color: blue;
    outline-style: solid;
}

label {
    padding-right: 8px;
}
